<div id="feature-search-container">
    <div class="panel">
        <div class="panel-header">
            Search Accounts
        </div>
        <div class="panel-content">
            <div id="panel-input-container">
                <input placeholder="{{inputPlaceholder}}">
                <button class="panel-button">search</button>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-header">
            Results
        </div>
        <div class="panel-content">
            <div class="panel-sub-header">
                <div id="search-panel-spacer">
                    <button class="panel-button" (click)="navigate()">view/edit selected accounts</button>
                </div>
                <i id="search-results-ellipsis" class="fa fa-ellipsis-v"></i>
            </div>
                table here
        </div>            
    </div>

</div>