<div id="topbar-container">
  <div id="topbar-logo-container">
    <!-- todo dynamic logo -->
    <img src="https://i.imgur.com/5a67hdp.png">
  </div>
  <div id="topbar-title-container">
      <!-- todo dynamic title  -->
      My Dashboard
  </div>
  <div id="topbar-content-container">
    <div id="topbar-search-container">
      <!-- todo reusable input class -->
      <div id="topbar-search">
          <input>
          <button>
            <i class="fa fa-search"></i>
          </button>
      </div>
    </div>
    <div id="topbar-alert-container">
      <i id class="fa fa-bell-o badge"></i>
    </div>
    <div id="topbar-user-container">
      <div id="topbar-image-container">
          <img src="https://media.almabaseapp.com/212/uploads/b379590f995840898cbe2963bd453e6c.jpg">
      </div>
      <div id="topbar-name-container">
          Somenam E. <i class="fa fa-caret-down"></i>
      </div>
    </div>
  </div>
</div>